.about {
	background-color: #E8E8E8;
}

.about__about-wrapper {
	@include container();
	padding-bottom: 1px;
}

.about__header {
	padding-top: 1px;
	margin-bottom: 60px;
	text-align: center;
}

.about__title {
	margin: 18px 0;
}

.about__info-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.about__info {
	flex-basis: 50%;
	padding-right: 20px;
}

.about__img {
	border: 5px solid #ddd;
	& img {
		display: block;
	}
}

.about__info-text {
	margin-bottom: 20px;
}

.about__list {
	margin-bottom: 20px;
	padding-left: 20px;
}

.about__list-item {
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
}

.about__btn-more {
	display: inline-block;
	background-color: #428bca;
	white-space: pre;
	padding: 12px 50px;
	text-align: center;
	color: white;
}

@media (max-width: 992px) {
	.about__info-wrapper {
		flex-direction: column;
		align-items: center;
	}
	
	.about__info {
		text-align: center;
		padding-right: 0;
	}
	
	.about__list {
		width: 200px;
		margin: 50px auto;
		text-align: left;
	}
	
	.about__btn-more {
		margin-bottom: 30px;
		padding: 12px 113px;
	}
}