.clients__wrapper {
	@include container();
}

.clients__header {
	padding-top: 1px;
	margin-bottom: 60px;
	text-align: center;
}

.clients__title {
	margin: 20px 0;
}

.clients__items {
	@include list-nostyle();
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.clients__item {
	height: 76px;
	width: 138px;
	margin-bottom: 15px;
	margin-right: 15px;
	background-color: red;
	box-sizing: border-box;
	min-width: 138px;
	background: url(../img/client1.png) 0 -75px no-repeat;
}

.clients__items-group {
	display: flex;
}

@media (max-width: 500px) {
	
	.clients__items {
		flex-direction: column;
		align-items: center;
	}
	.clients__items-group {
		flex-direction: column;
	}

}





