.features__features-wrapper {
	@include container();
	background-color: green;
}

.features__header {
	padding-top: 1px;
	margin-bottom: 60px;
	text-align: center;
}

.features__title {
	margin: 20px 0;
}

.features__features-items {
	display: flex;
	flex-wrap: wrap;
}

.features__features-item {
	text-align: center;
	list-style-type: none;
	flex-basis: 25%;
	flex-grow: 1;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.features__icon {
	width: 94px;
	height: 94px;
	margin: 0 auto;
	border: 1px solid #C8C8C8;
	border-radius: 50%;
}