.features__features-wrapper {
	@include container();
}

.features__header {
	padding-top: 1px;
	margin-bottom: 60px;
	text-align: center;
}

.features__title {
	margin: 20px 0;
}

.features__features-items {
	display: flex;
	flex-wrap: wrap;
}

.features__features-items-wrapper {
	margin-bottom: 50px;
}

.features__features-item {
	text-align: center;
	list-style-type: none;
	width: 25%;
	flex-grow: 1;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.features__icon {
	width: 94px;
	height: 94px;
	margin: 0 auto;
	border: 1px solid #C8C8C8;
	border-radius: 50%;
}

.features__icon i {
	font-size: 40px;
	line-height: 94px;
	color: #c1bdbd;
}

@media #{$media-desk-md} {
	.features__features-item {
		width: 50%;
	}
}


@media #{$media-desk-sd} {
	.features__features-item {
		width: 100%;
	}
}



